<head>
    <style>
        body {
            text-align: center;
            background: rgb(57, 2, 133);
        }
        h1 {
            font-size: 100px;
        }
        .center {
        margin-left: 105px;
        margin-right: auto;
        width: 40%;
        }
    </style>
    <title>Ms. Hawks Memory Lane</title>
</head>      

<body> 
    <h1>For Ms. Hawks ❤ </h1>
    <p style="font-size: 35px"> Hopefully this trip down memory lane brings you some joy!</p>
    <img class="center" src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/323090209_1316682192520991_7873806021817336527_n.jpg?stp=c0.169.1536.1536a_dst-jpg_s206x206_tt6&_nc_cat=111&ccb=1-7&_nc_sid=7a06f5&_nc_ohc=noVzOXLN8bEQ7kNvgFunj1L&_nc_zt=23&_nc_ht=scontent-iad3-2.xx&_nc_gid=ArSgvCmBlTd4re0bqva-dw_&oh=00_AYBMmE-x0ki_ea1edp7GVe1t8mGAhjhDBwUrGvKXP_9RYw&oe=676A9D5F">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/298557195_10105401135672947_2360008644577549130_n.jpg?stp=c256.0.1536.1536a_dst-jpg_s206x206_tt6&_nc_cat=101&ccb=1-7&_nc_sid=fe5ecc&_nc_ohc=E2cLaT9jrbYQ7kNvgEqKSJ7&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=ArSgvCmBlTd4re0bqva-dw_&oh=00_AYDJr-Z3O0j7lz5NI1aig4uitmb0WLOZJoeIiDJQV3FVnQ&oe=676A99B7">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.6435-9/81097588_10103967262062157_7928650181220761600_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=1epU_biW2hgQ7kNvgGihCb0&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=ANeSFqq2t2EXFeAPwRuQiHP&oh=00_AYBJFZcSWbyYeTUc3RnR8hHEgFPtaZM4_7NVkZUWBv0Ysw&oe=678C3FD4">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468573144_10106765944180757_6183583768673672544_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=KgiFJK42dMwQ7kNvgHtd6nf&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=ANP9yuBqetLiGJ4p7Rvr0Om&oh=00_AYBHje2Yx2dH-o8DId2HrRWsIW9Km5DivtRwqgnRZ3VE_Q&oe=676A9998">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/467868562_10106618163195037_6087269870747447421_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=olSapihczNkQ7kNvgHioV1c&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=ADuWztyWZuYSoHUy5rSiOjq&oh=00_AYAcLuzbQvMR0TiWQVF32fH2S07nWcJTiWlMeJ5Hqp88zw&oe=676AA879">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468335204_10106778705726517_3231481747194851993_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=0dyq6xzduB8Q7kNvgFqSpkO&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=AWB_brbxZWI2vy4HGU3215T&oh=00_AYDHl7PP3-jaVZ3GWN5nrI12A9ZjoRKEOlkvFdLxJIORyA&oe=676AB1E1">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468091219_10106661736319147_5403829724948949581_n.jpg?stp=dst-jpg_s206x206_tt6&_nc_cat=108&ccb=1-7&_nc_sid=50c75d&_nc_ohc=kyruBPWyDGwQ7kNvgGZnEjB&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=AnDbJodXe1pPqAzSAhlvxeT&oh=00_AYDpyHBBlqhB_pPCTBgSqdu-g2shTVp3zA1g0ACP1iDS7A&oe=676AB5FA">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468535423_10106773898799637_6653702242603665549_n.jpg?stp=c0.28.233.233a_dst-jpg_s206x206_tt6&_nc_cat=107&ccb=1-7&_nc_sid=f2f09f&_nc_ohc=GhkRp73N-hUQ7kNvgHScoSd&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=ARsoD4-B10zpgg20w81Ni9h&oh=00_AYAzbhGxKhRB-yC51RLLTt1kBL2kxohWtrvKo-1TNPU6lg&oe=676A9676">
    <img class="center" src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/468287119_10106715689681177_7120272195729796132_n.jpg?stp=dst-jpg_s206x206_tt6&_nc_cat=103&ccb=1-7&_nc_sid=f2f09f&_nc_ohc=BafGNOL8APsQ7kNvgEvhPUz&_nc_zt=23&_nc_ht=scontent-iad3-2.xx&_nc_gid=ARsoD4-B10zpgg20w81Ni9h&oh=00_AYDRKpk_OzheiA7SiSdwMOtS6NKGEp3YwqMxnkn7_NQBKw&oe=676AC2B8">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468412035_10106632232709617_3929356496825815526_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=8bqBzP-QKIoQ7kNvgEkctb7&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=Ai_o0pZuPx1ni5gDP21joGO&oh=00_AYDa9n8_VJELEcGCb2HfICXlaiGRJvpaqX7NJvkypyRhRw&oe=676A92F5">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468324331_10106656520940807_903737624125754291_n.jpg?stp=dst-jpg_s206x206_tt6&_nc_cat=104&ccb=1-7&_nc_sid=fe5ecc&_nc_ohc=NCtJlQpAljcQ7kNvgHJ4RRQ&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=AnDbJodXe1pPqAzSAhlvxeT&oh=00_AYCiBkEx9v3wO01gBObisK4pg-t2zlehkqsYNbbMDsEZLQ&oe=676AA2CE">
    <img class="center" src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/468967021_10106799914259447_8751789034162211111_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=uKzzpep1RbsQ7kNvgEFwu7z&_nc_zt=23&_nc_ht=scontent-iad3-1.xx&_nc_gid=AJ-IDqVS-A_U4zZCxawQ1td&oh=00_AYDHtAJjmT0cXW56vqMAxOa_d22nPctvd_kzG4kzxe9CDw&oe=676AA671">
    <h1>We love you Ms. Hawks!!!!</h1>
    <p style="font-size: 35px">Made lovingly by Kwame and Lucas</p>
    <h1>Link for signatures: <a href="https://docs.google.com/document/d/1gaULbK5N42srOSAylO0-PhrmMrcwLj2rTSHwc3vXTwQ/edit?usp=sharing">Here</a></h1>
</body>

            
                
                
